/1.py
/1010.py
/10102.py
/17.10.py
/2..py
/3.py
/4. while loop.py
/5.py
/6. satu.py
/appdb.db
/coba_tkinter.py
/dua.py
/empat.py
/lima.py
/nilai_siswa.db
/tiga.py
/topik4.py
/tttkinter.py
/tugas ttk.py